// COLOR
$primary-color: #2a73dd;
$secondary-color: #f5f9fe;
$default-color: #1d365e;
$box-shadow-color: #e2ebfc;
$linear-gradient-color: linear-gradient(120deg, #60a4f4, #2a73dd);
$description-color: #656774;
$rating-color: #f9d412;

// FONT SIZE
$text-md: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-xxl: 24px;
$text-xxxl: 70px;

// FONT WEIGHT
$fw-light: 400;
$fw-normal: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
